.container {
	padding: 0px;
	overflow: hidden;
}

.margin120 {
	margin-top: 120px;
}
.colorYellow{
	color: #d1b232;
	font-weight: bold;
}
.red{
	color: #fa5a56;
}
.zise{
	color: #7a8cdd;
}
.text-center {
	text-align: center;
}

.navbar-toggle .icon-bar {
	background-color: #eda337;
}

.navbar-toggle {
	border-color: #fdcb55;
}

.navbar {
	padding: 15px 0px;
	background-color: #06181e;
	border-bottom: 1px solid #eda337;
}

.navbar-brand {
	padding: 0px 15px;
}

.navbar-nav>li {
	margin: 0px 15px;
}

.navbar-nav>li>a {
	background-image: linear-gradient(0deg,#b76d20,#fdcb55);
	-webkit-background-clip: text;
	color: transparent;
	font-weight: bolder;
	font-size: 20px;
	padding: 10px 0px;
}

.navbar-nav>li.active {
	border-bottom: 3px solid #f8af3c;
}

.row {
	margin-left: 0;
}

.bigTitle {
	color: #e1eeff;
	font-weight: bolder;
	font-size: 20px;
	margin-bottom: 15px;
}

.indexBanner {
	margin-top: 81px;
	margin-bottom: 30px;
	overflow: hidden;
}

.indexBanner img {
	width: 100%;
}

.newlist {
	padding-left: 0;
	margin-bottom: 30px;
}

.newlist li {
	list-style-type: none;
	border-bottom: 1px solid #e1eeff;
	padding: 10px 0px;
}

.newlist li a {
	display: flex;
	font-size: 12px;
	color: #e1eeff;
	height: 28px;
	align-items: center;
	margin: 20px 0px;
	justify-content: space-between;

}

.newlist li a .icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 15px;
	padding-right: 20px;
}

.newlist li a .icon div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newlist li a .icon img {
	width: auto;
	height: 40px;
	margin: 0px 8px;
}

.newlist li a .icon span {
	font-size: 13px;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	width: 50px;
	text-align: center;
}

.newlist li a .icon .vs {
	font-size: 22px;
	font-weight: bolder;
	margin: 0px 6px;
}

@media screen and (max-width: 414px) {
	.col-xs-12 {
		padding: 0px;
	}

	.newlist li a .icon {
		margin-left: 12px;
	}

	.newlist li a .icon img {
		height: 40px;
	}

	.newlist li a .icon .vs {
		margin: 0px 2px;
	}

	.newlist li a .icon img {
		margin: 0px 3px;
	}
}

.hotTame>div {
	padding: 26px 38px;
	background-color: #1a2633;
	margin-bottom: 20px;
}
.newMsg {
	padding: 30px 30px 20px 30px;
	background-color: #1a2633;
}
.newMsg>div:first-child ul li a,.GameGl ul li a {
	display: flex;
	padding: 6px 0px;
	justify-content: space-between;
	align-items: center;
	color: #e1eeff;
}
.newMsg>div:first-child{
	padding: 0px 15px;
}
.newMsg ul li a div,.GameGl ul li a div {
	width: 84%;
	display: flex;
	align-items: center;
}

.newMsg ul li a div img,.GameGl ul li a div img {
	width: 56px;
	height: 36px;
	margin-right: 10px;
}

.newMsg ul li a div p,.GameGl ul li a div p {
	width: 100%;
	color: #ddebfc;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.newMsg li span {
	font-size: small;
	color: #6f8195;
}

.GameGl {
	font-size: small;
	color: #6f8195;
	background-color: #1a2633;
	padding: 15px;
	padding-left: 15px!important;
	margin-top: 30px;
}

.GameGl>div:first-child{
	padding: 15px 15px;
}

.hotTame li {
	padding: 6px 0px;
}

.hotTame li:last-child {
	padding-bottom: 0px;
}

.hotTame a {
	display: flex;
	align-items: center;
}

.hotTame a .pic {
	width: 64px;
	height: 64px;
	margin-right: 10px;
}

.hotTame a .pic img {
	width: 100%;
	height: 100%;
}

.hotTame ul li a p {
	color: #ddebfc;
	display: inline-block;
	width: calc( 100% - 120px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}
/* .col-lg-8, .col-sm-12, .col-md-12, .col-xs-12{
	padding-left: 0;
} */



/*资讯列表*/
.zixun_list_box {
	/*padding: 30px 30px 20px 30px;
    background-color: #1a2633;*/
}


.zixun_list_box .m-listbox li {
	padding-bottom: 30px;
}

.zixun_list_box .m-listbox li:first-child {
	padding-top: 0px;
}

.zixun_list_box .m-listbox li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}

.zixun_list_box .m-listbox li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.zixun_list_box .m-listbox li a .left {
	width: 230px;
	height: 154px;
	display: inline-block;
}

.zixun_list_box .m-listbox li a .left img {
	width: 100%;
	height: 100%;
}

.zixun_list_box .m-listbox li a .right {
	width: calc(100% - 250px);
	display: inline-block;
}

.zixun_list_box .m-listbox li a .right h2 {
	color: #e1eeff;
	width: 100%;
	font-size: 1.4rem;
	line-height: 1.4;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	margin-bottom: 8px;
}

.zixun_list_box .m-listbox li a .right p {
	color: #8294aa;
	line-height: 26px;
	font-size: 14px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	margin: 4px 0px;
}

.zixun_list_box .m-listbox li a .right .more {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	line-height: 1;
	color: #8294aa;
	font-weight: 400;
	margin-top: 10px;
}

.zixun_list_box .m-listbox li a .right .more .more_btn {
	display: inline-block;
	background-color: #8294aa;
	color: #1b2939;
	font-weight: bolder;
	border-radius: 4px;
	padding: 2px 10px;
	line-height: 1.45;
	font-size: 12px;
}

@media screen and (max-width: 414px) {
	.zixun_list_box .m-listbox li a .left {
		width: 120px;
		height: 90px;
		display: inline-block;
	}

	.zixun_list_box .m-listbox li a .right {
		width: calc(100% - 130px);
	}

	.zixun_list_box .m-listbox li a .right h2 {
		width: 100%;
		font-size: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.zixun_list_box .m-listbox li a .right p {
		color: #8294aa;
		line-height: 20px;
		font-size: 14px;
		-webkit-line-clamp: 2;
	}

}

.saishi {
	background-color: #1d2d3f;
	margin-bottom: 20px;
	padding: 0px!important;
}

.saishi .col-xs-24 {
	padding: 20px 0px;
}

.titleBox {
	background-color: #3a4654;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titleBox h3 {
	font-size: 18px;
	color: #e1eeff;
}

.col-md-8 .saishi .titleBox h3 {
	font-weight: 400;
}

.titleBox a {
	font-size: 14px;
	color: #7d8fa4;
}

.col-md-8 .saishi .titleBox a {
	color: #586a7c;
}

.saishiList_box {
	padding: 0px 30px;
}

.saishiList_box .list-item a {
	display: block;
	width: 100%;
	color: #e1eeff;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 2.2;
}

.col-md-8 .saishi .saishiList_box .list-item a {
	color: #8294aa;
}

.zhanduiList_box .list-item {
	margin: 0px auto 20px;
}

.zhanduiList_box .list-item a {
	display: inline-block;
	width: 100%;
	border-radius: 50%;
}

.zhanduiList_box .list-item a img {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.zhanduiList_box .list-item a p {
	text-align: center;
	line-height: 1.7;
	color: #dae7f8;
	font-size: 14px;
	margin-top: 8px;
}

.page {
	margin: 64px auto;
	text-align: center;
}

.page .pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li>a, .pagination>li>span {
	display: inline-block;
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #8092a8;
	text-decoration: none;
	background-color: #06181e;
	border: 1px solid #8092a8;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	z-index: 2;
	color: #06181e;
	background-color: #8294aa;
	border-color: #8294aa;
}

.show_cont {
	margin-bottom: 30px;
}

.show_cont_title {
	color: #e1eeff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1;
}

.show_txt img {
	width: 100%;
	margin: 15px auto;
}

.show_txt p {
	color: #6e8093;
	font-size: 15px;
	line-height: 30px;
}

.show_txt {
	padding: 10px;
	color: #6e8093;
}

.show_cont_2 {
	color: #dae7f8;
}

.xgTag ul {
	display: flex;
	align-items: center;
}

.xgTag ul li a {
	display: inline-block;
	margin-right: 10px;
	color: #8294aa;
	border: 1px solid #8294aa;
	font-size: 14px;
	border-radius: 3px;
	line-height: 1;
	padding: 04px 10px;
}

.xgTag .time {
	color: #8294aa;
	text-align: right;
}

.show_cont_2 .show_cont_title {
	text-align: left;
	font-weight: 500;
}

.show_cont_2 .show_cont_title span {
	font-size: 26px;
}

.show_cont_2 .show_txt p {
	color: #dae7f8;
	font-size: 18px;
	line-height: 28px;
}

.show_cont_2 .timeTag {
	color: #6f8195;
	font-size: 18px;
	margin: 12px 0px 24px;
}

.show_cont_2 .show_txt {
	padding: 0px;
}




/* 问答列表 */
.wenda_list {
	font-size: 16px;
	margin-top: 28px;
}

.wenda_list ul li {
	margin-bottom: 15px;
}

.wenda_list ul li a {
	display: block;
	color: #cddaea;
}

.wenda_list .left h2 {
	font-size: 16px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #cddaea;
}

.wenda_list .right {
	text-align: right;
	line-height: 1;
}

.wenda_list .right .time {
	margin-left: 20px;
}

.dashedTitleBox {
	font-size: 20px;
	font-weight: bolder;
	padding-bottom: 15px;
	border-bottom: 1px dashed #74838f;
}

.iconList ul li {
	display: inline-block;
	margin-right: 16px;
	margin-top: 20px;
}

.iconList ul li a {
	display: inline-block;
	/* width: 68px;
	height: 68px;
	border: 1px solid #ffffff;
	background-color: #ffffff; */
}

.xgTeam .iconList{
	margin-bottom: 40px;
}

.xgTeam .iconList li {
	display: inline-block;
	margin-right: 16px;
	margin-top: 20px;
}

.iconList ul li a img {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
}

.xgHero,.xgTeam,.xgQue {
	margin-bottom: 40px;
}

.xgQue .saishiList_box {
	padding: 0px;
}

.xgQue .dashedTitleBox {
	margin-bottom: 20px;
}

.xgTeam a img{
	width: 100px;
	height: 100px;
}

.titleBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleBtn a {
	display: inline-block;
	margin: 0px 10px 36px;
	padding: 6px 0px;
	text-align: center;
	width: 20%;
	color: #8294aa;
	background-color: #1c2b3c;
}

.titleBtn a.active {
	color: #dbe9fa;
	font-weight: bolder;
	background-color: #3a4756;
}

.gameInt .left img {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.gameInt .right .title {
	display: flex;
	align-items: center;
}

.gameInt .right .title svg {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.gameInt .right .title {
	color: #ddebfc;
	font-weight: bold;
	font-size: 20px;
}

.gameInt .right h2 {
	color: #dae7f8;
	font-size: 40px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #dae7f8;
	margin-bottom: 20px;
}

.gameInt .right p {
	color: #8193a9;
	font-size: 15px;
	line-height: 28px;
}

.gameInt_zixun ,.gameInt_team {
	margin: 15px 0px 0px;
	padding-left: 0px;
}

.gameInt_zixun a p,.gameInt_team a p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #c8d5e5;
}

.gameInt_zixun .title,.gameInt_team .title {
	margin-bottom: 20px;
}

.gameInt_zixun .title h3,.gameInt_team .title h3 {
	font-size: 26px;
	color: #cddaea;
}

.gameInt_zixun .title i,.gameInt_team .title i {
	font-size: 30px;
	color: #cddaea;
}

.gameInt_zixun .list_box,.gameInt_team .zhanduiList_box {
	background-color: #1a2634;
	padding: 20px 20px;
}

.gameInt_zixun ul li {
	margin-bottom: 15px;
}

.gameInt_team .zhanduiList_box li {
	display: inline-block;
	text-align: center;
}

.gameInt_team .zhanduiList_box {
	padding: 20px;
}



.gameInt_zixun .list-item a {
	display: flex;
	align-items: center;
	color: #e1eeff;
	font-size: 16px;
	padding: 8px 20px;
}

.gameInt_zixun .list-item a span {
	width: 56px;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	font-weight: bolder;
	padding: 6px 0px;
	text-align: center;
	color: #1b2939;
	background-color: #8294aa;
	border-radius: 4px;
	margin-right: 10px;
}

.gameInt_zixun .list-item a p {
	width: calc( 100% - 66px);
	font-size: 16px;
	color: #e1eeff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gameInt_zixun.gameInt_zixun100 .list-item a p {
	width: 100%;
	font-size: 16px;
	color: #e1eeff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.progress-item {
	display: flex;
	align-items: center;
	margin: 30px 0px;
	position: relative;
}

.progress-item>span {
	color: #e1eeff;
	font-style: 16px;
	font-weight: bold;
	margin-right: 20px;
}

.progress {
	width: calc( 100% - 100px);
	background-color: #1a2a3a;
	border-radius: 3px;
	margin-bottom: 0px;
	height: 14px;
}

.progress-item .progress-bar-info {
	background-color: #1b8fe9;
}

.progress-item  svg {
	width: 26px;
	height: 26px;
	display: inline-block;
	color: #06181e;
	border-radius: 50%;
	position: absolute;
	left: 68px;
	padding: 5px;
	font-size: 20px;
}

.progress-item .progress-bar-danger,.progress-item:nth-child(1)  svg {
	background-color: #e84a33;
}

.progress-item .progress-bar-warning,.progress-item:nth-child(2)  svg {
	background-color: #e7ca63;
}

.progress-item .progress-bar-info,.progress-item:nth-child(3)  svg {
	background-color: #1b8fe9;
}

.progress-item .progress-bar-success,.progress-item:nth-child(4)  svg {
	background-color: #5ed573;
}

.icon_title {
	margin: 30px 0px 20px;
	padding-left: 10px;
}

.icon_title h3 {
	color: #d5e3f3;
	display: flex;
	align-items: center;
}

.icon_title svg {
	width: 26px;
	height: 26px;
	margin-right: 20px;
}

.heroStory-cont {
	padding: 30px 40px;
	background-color: #1a2633;
	height: 220px;
	/*初始要显示的高度*/
	overflow: hidden;
	/*关键样式：内容会被修剪，并且其余内容是不可见的。*/
	position: relative
}

.heroStory-cont p {
	color: #c8d5e5;
	font-size: 15px;
	line-height: 30px;
}

.get_ct_more {
	height: 78px;
	color: #ddebfc;
	text-align: right;
	position: absolute;
	bottom: 0px;
	width: 100%;
	line-height: 124px;
	background: linear-gradient(to top,#1a2633,rgb(26 38 51) 80%);
	left: 0;
}

.get_ct_more  span {
	display: inline-block;
	width: auto;
	border-radius: 35px;
	padding: 0px 20px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddebfc;
	margin-right: 40px;
	margin-top: 20px;
	float: right;
}

.heroStory,.skillsInt,.heroSkin {
	margin: 30px 0px;
}

.investment_title div {
	width: 72px;
	float: left;
	margin-right: 6px;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
	color: #555;
	cursor: pointer;
	margin-left: 1px;
}

.investment_title a,.investment_title a:link,.investment_title a:visited,.investment_title a:hover {
	color: #555;
	width: 72px;
	height: 72px;
	display: inline-block
}

.investment_title div {
	/*grayscale(val):val值越大灰度就越深*/
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	margin-bottom: 20px;
	margin-right: 20px;
	filter: gray;
	border-width: 5px;
	border-color: #fac24d;
	box-sizing: content-box;
	border-style: groove;
	border-radius: 50%;
}

.investment_title div.on {
	border-width: 5px;
	border-color: #fac24d;
	filter: grayscale(0);
	box-sizing: content-box;
	border-style: groove;
	border-radius: 50%;
}

.investment_con {
	clear: both;
	padding: 20px;
}

.investment_con_list {
	display: none;
}

.investment_f {
	background-color: #1a2634;
	padding: 10px;
}

.investment_title {
	height: 100px;
	padding: 20px 0 0 20px;
}

.investment_title img {
	width: 92px;
	height: 72px;
	border-radius: 50%;
}

.investment_con_list .top-name {
	border-bottom: 1px solid #cddaea;
	font-size: 18px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.investment_con_list .top-name b,.investment_con_list .top-name span {
	margin-right: 80px;
	display: inline-block;
}

.investment_con_list p {
	color: #cddaea;
	line-height: 28px;
	font-size: 15px;
}

.img-content * {
	box-sizing: border-box;
}

.img-content {
	width: 100%;
	max-height: 388px;
	position: relative;
	overflow: hidden;
}

.img-content .small-img {
	list-style: none;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	bottom: 30px;
	left: 0;
	z-index: 999;
}
.small-img:after {
	content: "";
	display: block;
	clear: both;
}
/* .small-img a{
	display: inline-block;
	vertical-align: middle;
} */

.small-img  a {
	margin-left: 40px;
	display: inline-block;
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	vertical-align: top;
}

.small-img a img.moveimg {
	width: 70px;
	height: 70px;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	margin-bottom: 4px;
	filter: gray;
}

.small-img a img.moveimg img {
	width: 100%;
	height: 100%;
}

.small-img a.on img.moveimg {
	filter: grayscale(0);
	border-width: 5px;
	box-sizing: border-box;
	border-color: #fac24d;
	filter: grayscale(0);
	border-style: groove;

}


.small-img a p{
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	width: 70px;
	text-align: center;
}

.img-content .big-img {
	margin-top: 30px;
	width: 100%;
	height: 388px;
	overflow: hidden;
	display: contents;
	justify-content: center;
	align-items: center;
}

.img-content .big-img img {
	width: 100%;
	height: auto;
}

.small-img .left {
	left: 5px;
	top: 30px;
}

.small-img .right {
	right: 5px;
	top: 30px;
}

.small-img .right,.small-img .left {
	display: inline-block;
	position: absolute;
	z-index: 10;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background: rgba(0,0,0,0.6);
	color: #FFFFFF;
	cursor: pointer;
}

.strategy-box {
	background-color: #1a2634;
	padding-bottom: 30px;
}

.strategy-box .gameInt_video .list_box {
	margin: 12px 0px 0px;
	padding: 20px 15px 0px;
}

.strategy-box .gameInt_zixun {
	margin-top: 30px;
}

.strategy-box .gameInt_zixun .list-item a {
	padding: 0px 0px 10px 0px;
}

.strategy-box .gameInt_zixun .list-item,.margin0  .list-item {
	margin-bottom: 0px;
}

.strategy-box .gameInt_zixun .list-item:last-child a {
	padding: 0px;
}

.strategy-box .gameInt_zixun .list_box {
	margin: 0;
	padding: 0px;
}

.strategy-box .gameInt_zixun .list-item a {
	display: flex;
	align-items: center;
	color: #e1eeff;
	font-size: 14px;
}

.strategy-box .gameInt_video .list_box li {
	margin-bottom: 15px;
}

.strategy-box .gameInt_video .list_box a {
	display: inline-block;
	text-align: center;
}

.strategy-box .gameInt_video .list_box a img {
	width: 100%;
}

.strategy-box .gameInt_video .list_box a p {
	font-size: 12px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	color: #d1deef;
	line-height: 19px;
	margin-top: 6px;
	text-align: left;
}

.heroRecommend .iconList ul li {
	display: inline-block;
	margin-right: 22px;
	margin-top: 20px;
}

.heroRecommend .iconList ul li a {
	display: inline-block;
}

.heroList .iconList ul {
	display: table;
	padding: 0px 20px 28px;
	background-color: #1a2634;
}

.heroList .iconList ul li {
	margin: 0px;
	margin-top: 35px;
	overflow: hidden;
	font-size: 12px;
	text-align: center;
}

.heroList .iconList ul li a div {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	box-sizing: border-box;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;

}
.heroList .iconList ul li a div img {
	width: 100%;
	height: 100%;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
}

.heroList .iconList ul li a p {
	font-size: 13px;
	color: #c8d5e5;
	text-align: center;
	line-height: 1.7;
	margin-top: 16px;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	width: 100%;
}

.heroList .col-md-12 {
	margin-bottom: 30px;
}

.heroList .col-md-12:nth-child(3) .iconList ul li a {
	border: none;
	background-color: none;
}

.heroList .col-md-12:nth-child(3) .iconList ul li a img {
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
}

.heroRecommend .iconList ul {
	display: table;
	padding: 0px 20px 28px;
	background-color: #1a2634;
}

.heroRecommend .iconList ul li {
	margin-top: 35px;
	font-size: 12px;
	margin-left: 36px;
	float: left;
}

.heroRecommend .iconList ul li a div {
	display: inline-block;
	width: 95px;
	height: 95px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	box-sizing: border-box;
}
.heroRecommend .iconList ul li a div img {
	width: 100%;
	height: 100%;
}

.heroRecommend .iconList ul li a p {
	font-size: 14px;
	color: #c8d5e5;
	text-align: center;
	line-height: 1;
	margin-top: 16px;
}

.heroMsg_title div {
	width: auto;
	margin-right: 6px;
	display: inline;
	font-size: 14px;
	text-align: center;
	line-height: 46px;
	color: #7b8da2;
	padding: 0px 30px;
	cursor: pointer;
}

.heroMsg_title a {
	color: #1b2a3b;
	width: 72px;
	height: 72px;
	display: inline-block
}

.heroMsg_title div.on {
	color: #d9e6f7;
}

.heroMsg_con {
	clear: both;
	padding: 20px 30px;
	background-color: #1b2a3b;
}

.heroMsg_con_list {
	display: none;
}

.heroMsg_con_list p {
	margin-top: 20px;
}

.investment_f {
	background-color: #1a2634;
	padding: 10px;
}

.heroMsg_title {
	background-color: #384552;
}

.heroMsg_con_list .top-name {
	border-bottom: 1px solid #cddaea;
	font-size: 18px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.heroMsg_con_list .top-name b,.heroMsg_con_list .top-name span {
	margin-right: 80px;
	display: inline-block;
}

.heroMsg_con_list p {
	color: #cddaea;
	line-height: 28px;
	font-size: 15px;
}

.heroMsg_con_list li {
	display: inline-block;
	width: 80px;
	height: 80px;
	padding: 0px;
	margin-bottom: 10px;
}

.heroMsg_con_list li img {
	width: 100%;
	height: 100%;
}

.teamLogo .left {
	text-align: center;
}

.teamLogo .left img {
	width: 90%;
}

.teamLogo .right .top {
	color: #dae7f8;
	font-size: 40px;
	margin-bottom: 15px;
}

.teamLogo .right div {
	color: #dae7f8;
	font-size: 16px;
	line-height: 30px;
}

.teamHistory .cont {
	padding: 20px;
	background-color: #1a2633;
}

.teamHistory .cont p {
	color: #d6e3f3;
	margin-bottom: 8px;
	font-size: 15px;
}

.teamEvents  .newlist li {
	padding: 0;
}

.teamEvents  .newlist ul {
	padding: 20px 25px;
	background-color: #1a2633;
}

.teamEvents  .newlist li .newlist-item {
	border-bottom: 1px solid #e1eeff;
	padding: 10px 0px;
}

.teamEvents  .newlist li:last-child .newlist-item,.teamEvents  .newlist li {
	border-bottom: none;
}

.teamInformation {
	margin-bottom: 40px;
}

.teamInformation .list_box .list-item {
	padding: 15px 0px;
}

.teamInformation .list_box {
	padding: 20px 30px;
	background-color: #1a2633;
}

.teamInformation .list_box .list-item a {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.teamInformation .list_box .list-item a .left {
	display: flex;
	align-items: center;
}

.teamInformation .col-lg-12 {
	padding-left: 0px;
}

.teamInformation .list_box .list-item a .left span {
	font-size: 13px;
	display: inline-block;
	background-color: #7b8da2;
	color: #1a2633;
	padding: 8px 0px;
	border-radius: 3px;
	line-height: 1;
	font-weight: bold;
	margin-right: 10px;
	width: 70px;
	text-align: center;
}

.teamInformation .list_box .list-item a .left span.newIcon {
	background-color: #f5d64b;
}

.teamInformation .list_box .list-item a .left p {
	color: #e1eeff;
	font-weight: bold;
	font-size: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}

.teamInformation .list_box .list-item a .right {
	color: #7d8fa4;
	font-weight: bold;
	font-size: 16px;
}

.xg_team .col-xs-12 {
	padding-left: 0px;
}

.xg_team .iconList {
	padding: 20px 30px;
	background-color: #1a2633;
}

.xg_team .iconList li {
	display: inline-block;
	width: 134px;
	height: 134px;
	margin: 10px 8px;
}

.xg_team .iconList li a img {
	width: 100%;
	height: 100%;
}









/* 战队队员介绍 */

.teamMember .teamLogo .left img {
	width: 50%;
	margin-bottom: 15px;
}
.teamMember .teamLogo h1{
	padding-bottom: 20px;
	border-bottom: 1px dashed #d1deef ;
}
.teamMember .teamLogo ul li span{
	margin-left: 6px;
}
.teamMember .teamLogo p{
	margin-top: 20px;
	font-size: 15px;
	line-height: 34px;
}
.teamMember .teamLogo ul li{
	font-size: 15px;
	line-height: 34px;
}


.teamMember .teamHistory .col-xs-12 {
	padding-left: 0px;
}

.teamMember .iconList {
	padding: 30px 30px 20px;
	background-color: #1a2633;
}

.teamMember .gameInt_zixun .list-item{
	padding: 0px;
	margin: 0px 0px 20px;
	text-align: center;
}
.teamMember .gameInt_zixun .list-item a{
	display: inline-block;
}
.teamMember .gameInt_zixun .list-item a p{
	display: block;
	width: 100%;
	margin-top: 10px;
}
.teamMember .teamHistory .iconList li a img {
	width: 90px;
	height: 90px;
}



.teamMember .xg_member .iconList .list-item {
	margin-bottom: 20px;
	padding: 0px;
	text-align: center;
}


.teamMember .xg_member .iconList .list-item a img {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.teamMember .xg_member .iconList .list-item a p {
	text-align: center;
	line-height: 1.7;
	color: #dae7f8;
	font-size: 14px;
	margin-top: 8px;
}


.historyMatch{
	text-align: center;
	overflow: auto;
	white-space: nowrap;
	width: 100%;
	background-color: #1a2633;
	margin: 40px 0px 10px;
}
.historyMatch .matchBox{
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.historyMatch .matchBox .title{
	height: 50px;
	display: -webkit-inline-box;
	padding: 0px 15px;
	align-items: center;
	justify-content: space-between;
	background-color:#384552;
}

.historyMatch .matchBox::-webkit-scrollbar {
	display: none;
}

.historyMatch .matchBox li{
	width: 90px;
	padding: 8px 0px;
	color: #d9e6f7;
	margin-right: 20px;
}
.historyMatch li.width178{
	width: 178px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.historyMatch li.width360{
	width: 360px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.historyMatch li.videoIcon{
	width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.historyMatch li.videoIcon svg{
	width: 40px;
	height: 50px;
	margin: 0 auto;
	display: inline-block;
}
.historyMatch .historyMatchBox{
	background-color: #1a2633;
	padding: 15px;
}

.historyMatch .historyMatchBox ul{
	display: -webkit-inline-box;
}

.historyMatch .historyMatchBox .historyMatch-item{
	width: 100%;
	margin: 0;
	display: inline;
}
.historyMatch .historyMatchBox .historyMatch-item li{
	float: left;
}
.historyMatch .historyMatchBox .historyMatch-item  li.width360   .icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.historyMatch .historyMatchBox .historyMatch-item  li.width360 .icon div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.historyMatch .historyMatchBox .historyMatch-item  li.width360 .icon span {
	font-size: 13px;
}
.historyMatch .historyMatchBox .historyMatch-item  li.width360 .icon img {
	width: auto;
	height: 40px;
	margin: 0px 12px;
}
.historyMatch .historyMatchBox .historyMatch-item  li.width360  .icon .vs {
	font-size: 22px;
	font-weight: bolder;
	margin: 0px 6px;
}
.heroPic img{
	width: 46px;
	height: 46px;
	margin: 0 auto;
}

.historyMatch .historyMatchBox .historyMatch-item ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.scrllTips{
	color: #586a7c;
	font-size: small;
	line-height: 1.4;
	display: none;
	margin-bottom: 40px;
}



/* 召唤师技能 */
.summoner .summoner_box{
	padding: 30px 20px 28px;
	background-color: #1a2634;
}
.summoner .summoner_box .summoner_title .on a img{
	border: 4px solid #4b68fb;
}
.summoner .summoner_box .summoner_title a{
	display: inline-block;
	text-align: center;
}
.summoner .summoner_box .summoner_title>div{
	text-align: center;
	margin-bottom: 30px;
}
.summoner .summoner_box .summoner_title a img{
	width: 80px;
	height: 80px;
	box-sizing: border-box;
}
.summoner .summoner_box .summoner_title a p{
	font-size: 13px;
	color: #c8d5e5;
	text-align: center;
	line-height: 1;
	margin: 8px 0px 0px;
}
.summoner .summoner_box .summoner_con_list{
	display: none;
}
.summoner .summoner_box .summoner_con_list img{
	width: 100%;
}

.summoner .summoner_box .summoner_con_list h3{
	color: #d9e6f7;
	padding-bottom: 15px;
	margin: 20px 0px;
	border-bottom: 1px dashed #8193a9;
}
.summoner .summoner_box .summoner_con_list span{
	color:#8193a9;
	font-weight: 400;
	font-size: 16px;
	margin-left: 40px;
}
.summoner .summoner_box .summoner_con_list p{
	color:#8193a9;
	font-weight: 400;
	font-size: 16px;
}
/* 召唤师技能 */






/* 近期赛事 */
.match_box .icon_title{
	margin-top: 0px;
}
.recentEvents .match_pic li{
	margin-bottom: 20px;
}
.recentEvents .match_pic img{
	border-radius: 14px;
	width: 100%;
}


.dataComparison{
	text-align: center;
	overflow: auto;
	white-space: nowrap;
	width: 100%;
	margin: 40px 0px 10px;
}
.dataComparison .dataComparisonList{
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dataComparison .dataComparisonList::-webkit-scrollbar {
	display: none;
}



.dataComparisonList .dataComparison_item .top,.dataComparisonList .dataComparison_item .bottom{
	display: flex;
	align-items: center;
}
.dataComparisonList .dataComparison_item .top{
	border-bottom: 1px solid #7D8FA4;
}

.dataComparisonList .dataComparison_item{
	border-left: 15px solid #4b68fb;
	box-sizing: border-box;
	color: #e1eeff;
	margin-bottom: 20px;
	background-color: #1d2d3f;
	width: 100%;
}
.dataComparisonList .dataComparison_item img{
	display: inline-block;
	height: 34px;
}

.dataComparisonList .dataComparison_item .title,.dataComparisonList .dataComparison_item .data{
	display: inline-flex;
	text-align: center;
	justify-content: space-between;
	line-height: 45px;
}
.dataComparisonList .dataComparison_item .data{
	border-top: 1px solid #7D8FA4;
}

.dataComparisonList .dataComparison_item .left,.dataComparisonList .dataComparison_item .middle{
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #7D8FA4;
	box-sizing: border-box;
}

.dataComparison_item .width90{
	width: 90px;
	display: inline-block;
	line-height: 45px;
}
.dataComparison_item .width246{
	width: 432px;
	display: inline-block;
	text-align: center;
}
.dataComparison_item .data_del p{
	margin: 0px 10px;
}
.dataComparison_item .width100{
	width: 68px;
	display: inline-block;
}
.dataComparison_item .title div:last-child{
	width: 210px;
}

.data .width90{
	border-right: 1px solid #7D8FA4;
}

.data .left{
	width: 180px;
}
.data .middle{
	width: 265px;
}
.data .right{
	width: 210px;
	border-left: none;
}
.data .right ul{
	display: flex;
}

.data .data_del div{
	height: 50px;
}
.data .middle img{
	height: 30px;
	margin: 0px 6px;
	border-radius: 50%;
}



.recentEvents .swiper-container{
	border: 1px solid #cddaea;
	width: 100%;
	margin-top: 30px;
}
.recentEvents .swiper-container.sevenSlider .swiper-slide{
	border-left: 1px solid #cddaea;
	height: 90px;
	width: 120px;
	text-align: center;
	color: #cddaea;
	line-height: 40px;
}
.recentEvents  .swiper-container.sevenSlider .swiper-button-next, .recentEvents  .swiper-container.sevenSlider .swiper-container-rtl .swiper-button-prev{
	width: 14px;
	background-size: 100%;
}
.recentEvents  .swiper-container.sevenSlider .swiper-button-next, .recentEvents  .swiper-container.sevenSlider .swiper-container-rtl .swiper-button-prev, .swiper-container.sevenSlider .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	width: 24px;
	background-size: 80%;
	background-position: center;
	height: 100%;
	top: 22px;
	background-color:#06181e;

}
.recentEvents  .swiper-container.sevenSlider .swiper-slide.swiper-slide-active{
	background-color: #f5d64b;
	color: #06181e;
	font-weight: bold;
}
.recentEvents  .swiper-container.sevenSlider .swiper-slide.tody{
	line-height: 90px;
}
.recentEvents  .swiper-container.sevenSlider .swiper-slide.swiper-slide-active.tody{
	font-size: 24px;
}
.recentEvents  .swiper-container.sevenSlider .swiper-button-next{
	border-left: 1px solid #cddaea;
	border-right: 1px solid #cddaea;
	right: 0;
}
.recentEvents  .swiper-container.sevenSlider .swiper-button-prev{
	border-right: 1px solid #cddaea;
	border-radius: 0px;
	left: 0;
}



/* 近期赛事 */

.data_PK{
	background-color: #1b293a;
}
.data_PK .bgTitle{
	margin-bottom: 30px;
}
.data_PK .little_title{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px 0px 30px;
}
.data_PK .little_title img{
	height: 40px;
}
.data_PK .little_title span{
	display: inline-block;
	border-radius: 25px;
	background-color: #7D8FA4;
	color: #1d2d3f;
	line-height: 1;
	padding: 3px 22px;
	margin: 0px 30px;
}
.data_PK .progress_item{
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-bottom: 20px;
	font-size: 12px;
}
.data_PK .progress_item img{
	width: 44px;
	height: 44px;
	margin-right: 10px;
}
.data_PK .progress_item>div{
	width: calc( 100% - 54px );
}
.data_PK .progress_item>div p{
	line-height: 1;
	margin-bottom: 8px;
}
.data_PK .progress_item .progress{
	width: 100%;
	background-color: #1b293a;
	border-radius: 0px;
	height: 20px;
	line-height: 20px;
}
.data_PK .progress_item .progress-bar{
	background-color: #7a8cdd;
	margin-right: 5px;
}
.data_PK .right  .progress_item .progress .progress-bar{
	float: right;
	margin-right: 0px;
	background-color: #fa5a56;
}
.data_PK .right  .progress_item img{
	margin-left: 8px;
	margin-right: 0px;
}
.data_PK .right  .progress_item p{
	text-align: right;
}
.data_PK .border{
	border-right: 1px solid #e1eeff;
	margin-bottom: 30px;
}

.data_PK div .progress_item:last-child{
	margin-bottom: 0px;
}
.data_PK .little_title span.pick{
	background-color: #e7ca63;
}



.gamePlay,.data_comparison{
	background-color: #1b293a;
	margin-bottom: 30px;
}

.bgTitle {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	background-color: #384451;
	align-items: center;
}
.bgTitle img{
	height: 42px;
}
.bgTitle h3{
	width: 60%;
	display: inline;
	/* margin: 0 auto; */
	color: #e1eeff;
	text-align: center;
	height: 50px;
	line-height: 50px;

}

.data_comparison>div:last-child{
	padding: 20px 0px;
}

.data_comparison .left{
	padding-right: 0px;
}
.data_comparison .right{
	padding-left: 0px;
}

.data_comparison .progress_item{
	margin-bottom: 8px;
}
.data_comparison .progress_item .left>div,.data_comparison .progress_item .right>div{
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 1;
}
.data_comparison .progress_item .left .progress,.data_comparison .progress_item .right .progress{
	width: calc( 100% - 36px);
	height: 6px;
	margin-left: 4px;
}
.data_comparison .progress_item .left .progress .progress-bar{
	background-color: #7a8cdd;
}
.data_comparison .progress_item .right .progress .progress-bar{
	background-color:#f85a56;
}

.data_comparison .progress_item  .right .progress{
	float: right;
	margin-left: 0px;
	margin-right: 4px;
}
.data_comparison_box .title{
	text-align: center;
	line-height: 1;
	margin: 4px 0px;
	color: #a8b6c7;
	font-size: 12px;
}


.dataKDA{
	display: flex;
	color:#FFFFFF;
	font-size: 13px;
	margin: 20px 0px;
	justify-content: center;
}

.dataKDA div{
	margin: 0px 10px;
	font-size: 14px;
}






.gamePlay>div:last-child {
	padding: 30px 20px;
}

.circleChart{
	position: relative;
	margin-bottom: 40px;
}
.circleChart_text{
	position: absolute; line-height: 120px; top: 0px; width: 100%; margin: 0px; padding: 0px; text-align: center; font-size: 20px; color: #d6e3f3; font-weight: normal; font-family: sans-serif;
}
.data_comparison h2{
	color: #e1eeff;
	text-align: center;
	margin: 15px 0px;
	font-weight: 500;
}


.swiper-container.radiuSlider{
	border: none;
	width: 100%;
	margin: 0 auto;
	padding: 0px 30px;
}

.swiper-container.radiuSlider .swiper-slide.swiper-slide-active {
	background-color:transparent;
	font-weight: 400;
	color: #e1eeff;
}
.swiper-container.radiuSlider .swiper-slide{
	border: 1px solid #7f91a6;
	border-radius: 5px;
	height: 72px;
	line-height: 1;
	box-sizing: border-box;
	min-width: 104.8px;
	text-align: center;
	color: #FFFFFF;
}

.swiper-container.radiuSlider .swiper-button-next{
	border: 1px solid #7f91a6;
	background-image: url(../images/right.png);
	right: 0;
}
.swiper-container.radiuSlider .swiper-button-prev{
	border: 1px solid #7f91a6;
	background-image: url(../images/left.png);
	left: 0;
}
.swiper-container.radiuSlider .swiper-button-next, .swiper-container.radiuSlider .swiper-container-rtl .swiper-button-prev, .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	width: 24px;
	background-size: 45%;
	background-position: center;
	height: 60%;
	top: 40px;
	background-color: #1a2a3d;
	border-radius: 5px;
}
.swiper-container.radiuSlider .swiper-slide p{
	font-size: 18px;
	font-weight: bold;
	margin-top: 14px;
}
.swiper-container.radiuSlider .swiper-slide span{
	font-size: 12px;
	line-height: 1;
	margin-top: 8px;
	display: inline-block;
}
.swiper-container.radiuSlider .swiper-slide .zise{
	color: #7a8cdd;
}
.swiper-container.radiuSlider .swiper-slide .red{
	color: #f15855;
}













/* 底部 */
.footer {
	margin-top: 60px;
}
.footer .youlian{
	margin-bottom: 26px;
}

.footer .title {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 15px;
}

.footer .col-lg-6, .footer .col-sm-6, .footer .col-md-6, .footer .col-xs-12,.footer .col-lg-2, .footer .col-sm-3,.footer .col-md-12,.footer .col-xs-6 {
	padding: 0px;
}

.footer ul li {
	margin-bottom: 15px;
}

.footer ul li a {
	color: #7D8FA4;
	font-size: small;
}

.footer .youlian ul li a {
	display: inline-block;
	text-align: left;
}

.footer .youlian ul li a img {
	width: 68%;
	margin: 0 auto;
}
/* 底部 */



/* 战队列表 */
.gameStrategy .strategy li a{
	display: flex;
	align-items: center;
	margin: 0px;
	height: 40px;
}
.newlist .strategy li{
	margin-bottom: 0px;
	padding: 20px 0px;

}
.newlist .strategy li a .icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 15px;
	padding-right: 20px;
}
.newlist .strategy li:last-child {
	margin-bottom: 0px;
	border-bottom: none;
	padding: 20px 0px 0px;
}
.newlist .strategy li:first-child {
	padding-top: 0px;
}
.gameStrategy .strategy{
	padding: 20px 30px;
	background-color: #1a2634;
}

.gameStrategy .strategy div img{
	width: 100%;
	height: 100%;
}
.gameStrategy .strategy li a p{
	width: calc(100% - 110px);
	word-break: break-all;

	text-overflow: ellipsis;

	display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/

	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/

	-webkit-line-clamp: 2; /** 显示的行数 **/
	white-space: initial;
	overflow: hidden;
}
/* 战队列表 */






/* 文章面包屑 */
.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color:transparent ;
	border-radius: 4px;
}
.breadcrumb a{
	color: #c8d5e5;
}
.breadcrumb>.active {
	color:#6e8093;
}
.breadcrumb > li + li:before {
	color: #CCCCCC;
	content: "》";
	padding: 0 5px;
	font-size: small;
}
/* 文章面包屑 */


@media (max-width: 1024px) {

	.wenda_list.col-lg-8, .wenda_list.col-md-8{
		padding-left: 0px;
	}
	.wenda_list>div:first-child div.col-lg-8, .wenda_list>div:first-child div.col-md-8{
		padding-left: 0px;
	}
	.dataComparisonList .dataComparison_item {
		width: max-content;
	}
}

@media (max-width: 992px) {
	.col-md-4 {
		padding: 0px;
	}

	.zhanduiList_box .list-item a {
		width: 100px;
		height: 100px;
	}

	.padding0 {
		padding: 0px;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 15px;
	}
	.gameInt_team .zhanduiList_box .list-item a {
		width: 98px;
		height: 98px;
	}

	.heroRecommend .iconList ul li a {
		width: 97px;
		height: 97px;
	}

	.strategy-box .gameInt_video .list_box a {
		padding: 6px;
	}

	.indexBanner {
		margin-top: 111px;
	}

	.xg_team .iconList li {
		display: inline-block;
		width: 120px;
		height: 120px;
	}

	.footer .youlian ul li a {
		display: inline-block;
		text-align: center;
	}

	.footer .youlian ul li a img {
		width: 80%;
		margin: 0 auto;
	}
	.scrllTips{
		display: block;
	}

}

@media screen and (max-width: 640px) {
	.hotTame>div {
		padding: 20px 15px;
	}

	.newlist,.col-xs-12,.GameGl {
		padding-left: 0;
		padding-right: 0;
	}
	.xgTeam a img{
		width: 96px;
		height: 96px;
	}
	.gameStrategy .strategy{
		padding: 20px 15px;
	}
	.newlist .strategy li a .icon{
		padding-right: 0px;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.m-listbox li a .left {
		width: 170px;
		height: 114px;
		display: inline-block;
	}

	.m-listbox li a .right {
		width: calc(100% - 182px);
	}

	.m-listbox li a .right h2 {
		color: #e1eeff;
		width: 100%;
		font-size: 1.4rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 6px;
	}

	.page-link {
		padding: 5px 10px;
	}

	.col-md-4,.col-md-8 {
		padding: 0px;
	}

	.zhanduiList_box .list-item a {
		width: 70px;
		height: 70px;
	}

	.wenda_list .right {
		text-align: left;
		margin: 12px 0px;
	}

	.xgTag .time {
		text-align: left;
		margin: 10px 0px;
	}

	.titleBtn a {
		width: 40%;
	}

	.gameInt_team .zhanduiList_box .list-item a {
		width: 94px;
		height: 94px;
	}

	.gameInt .right h2 {
		font-size: 24px;
	}

	.small-img a {
		margin-left: 12px;
	}

	.heroStory-cont {
		padding: 20px;
	}

	.strategy-box a {
		display: inline-block;
		padding: 4px 8px;
	}

	.strategy-box .gameInt_zixun, .strategy-box .gameInt_team {
		margin: 15px 0px 0px;
	}

	.strategy-box .gameInt_zixun .list_box {
		margin-bottom: 15px;
	}

	.wenda_list {
		font-size: 14px;
		margin-top: 0px;
	}

	.indexBanner img {
		height: 215px;
		width: auto;
		object-fit: cover;
		object-position: center;
	}

	.indexBanner {
		margin-top: 81px;
	}

	.teamEvents  .newlist li:last-child .newlist-item {
		border-bottom: 1px solid #e1eeff;
	}

	.teamEvents  .newlist li:last-child .newlist-item:nth-child(3) {
		border-bottom: none;
	}

	.teamInformation .list_box .list-item a .right {
		display: none;
	}

	.teamInformation .list_box .list-item a .left p {
		font-size: 15px;
		font-weight: 400;
	}

	.teamInformation .col-lg-12 {
		padding: 0px;
	}

	.xg_team .iconList li {
		display: inline-block;
		width: 108px;
		height: 108px;
	}

	.xg_team .iconList li {
		width: 88px;
		height: 88px;
	}

	.heroMsg_con_list li {
		padding: 0px;
		margin-right: 15px;
	}

	.heroRecommend .col-md-12 {
		padding: 0px;
	}

	.gameInt_zixun .list_box li, .gameInt_team .zhanduiList_box li {
		padding: 10px;
	}

	.gameInt_zixun .list-item a {
		padding: 0px;
	}
	.newMsg.GameGl {
		padding-right: 10px;
		margin-right: 0px;
	}
	.newMsg>div:first-child {
		padding: 15px;
	}
	.historyMatch .matchBox li {
		width: 52px;
	}
	.historyMatch li.width178{
		width: 110px;
	}
	.historyMatch li.width360{
		width: 258px;
	}
	.historyMatch li.videoIcon{
		width: 30px;
	}
	.historyMatch li.videoIcon svg{
		width: 30px;
	}
	.data_PK .border{
		border-right: none;
	}
	.data_comparison_box{
		padding: 0px 10px;
	}
	.data_comparison .progress_item .right .progress,.data_comparison .progress_item .left .progress{
		height: 8px;
	}
	.data_PK>div:nth-child(2),.data_PK>div:nth-child(3){
		padding: 0px 15px 15px;
	}
	.heroList .col-md-12 {
		margin-bottom: 30px;
		padding: 0px;
	}
	.heroList .iconList ul li{
		padding: 0px;
	}

}

@media (max-width: 411px) {
	.gameInt_team .zhanduiList_box .list-item a {
		width: 100px;
		height: 100px;
	}

	.small-img a {
		margin-left: 20px;
	}

	.small-img a img.moveimg {
		width: 60px;
		height: 60px;
	}

	.heroRecommend .iconList ul li a {
		width: 90px;
		height: 90px;
	}

	.heroRecommend .iconList ul li {
		font-size: 12px;
		margin-left: 25px;
	}

	.xg_team .iconList li {
		width: 76px;
		height: 76px;
	}

	.gameInt_zixun .list_box, .gameInt_team .zhanduiList_box {
		padding: 20px 10px;
	}

	.strategy-box .gameInt_video .list_box {
		margin: 0px;
	}

	.investment_title div {
		margin-right: 18px;
	}
	.data_comparison_box{
		padding: 0px 10px;
	}

}

@media (max-width: 375px) {
	.gameInt_team .zhanduiList_box .list-item a {
		width: 90px;
		height: 90px;
	}
}

@media (max-width: 360px) {
	.gameInt_team .zhanduiList_box .list-item a {
		width: 85px;
		height: 85px;
	}

	.show_cont_2 .show_txt p {
		font-size: 15px;
	}

	.show_cont_2 .show_cont_title span {
		font-size: 22px;
	}

	.heroRecommend .iconList ul {
		padding: 0px;
		padding-bottom: 15px;
	}

	.heroRecommend .iconList ul li {
		font-size: 12px;
		margin-left: 18px;
	}
}

@media (max-width: 320px) {
	.gameInt_team .zhanduiList_box .list-item a {
		width: 100px;
		height: 100px;
	}

	.newMsg ul li a div p {
		width: calc(100% - 72px);
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		-webkit-box-orient: vertical;
	}
}

@media (min-width: 1024px) {
	.zhanduiList_box .list-item {
		padding: 0px;
	}

	.zhanduiList_box .list-item a {
		width: 85px;
		height: 85px;
	}

	.show_cont_2 .timeTag span.right {
		text-align: right;
	}

	.teamMember .teamHistory .gameInt_zixun .iconList {
		min-height: 327px;
	}
	.xg_member .col-xs-12 {
		padding-left: 0px;
	}
	.GameGl .bigTitle{
		padding-left: 15px;
	}
	.data_comparison>div:last-child{
		display: flex;
		align-items: center;
	}
	.recentEvents .row>.right,.gameInt .left{
		padding-left: 0px;
	}


}

@media (min-width: 768px) {
	.show_cont_2 .timeTag span.right {
		text-align: right;
	}

	.heroRecommend .col-md-12 {
		padding: 0px;
	}

	.heroMsg_con_list li {
		margin-right: 78px;
	}

	.navbar-nav {
		float: none;
	}
	.iconList ul li a img,.heroList .iconList ul li a div {
		width: 98px;
		height: 98px;
	}
	.xgTeam a img{
		width: 92px;
		height: 92px;
	}
}

@media (min-width: 1336px) {

	.navbar-brand {
		margin-right: 77px;
	}
}

@media screen and (device-width: 768px) {
	.margin120 {
		margin-top: 162px;
	}
}
